:root {
  --bgcolor: white;
  --btncolor: grey;
  --textcolor: black;
}
:root.dark {
  --bgcolor: black;
  --btncolor: grey;
  --textcolor: white;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textcolor);
  height: 95vh;
  height: 95dvh;
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
}

* {
  box-sizing: border-box;
}

#addbtn {
  height: 35vw;
  width: 35vw;
  max-width: 300px;
  max-height: 300px;
  border: 2px solid var(--textcolor);
  border-radius: 50%;
  background-color: var(--btncolor);
  margin: auto;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
}

#addbtn:active {
  box-shadow: 1px 1px 1px grey;
}

#counter {
  height: 7vw;
  width: 50vw;
  border: 2px solid var(--textcolor);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  max-width: 70%;
}

#resetbtn {
  height: 10vw;
  width: 10vw;
  border: 2px solid var(--textcolor);
  border-radius: 50%;
  background-color: var(--btncolor);
  position: absolute;
  right: 17vw;
  top: 20vh;
  max-width: 4em;
  max-height: 4em;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
}

#resetbtn:active {
  box-shadow: 1px 1px 1px grey;
}

#main {
  border: 2px solid var(--textcolor);
  margin: 10px;
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#stats {
  font-size: xx-large;
}
